 <nav class="menu">
  <a href="http://facebook.com/{{ site.social.facebook }}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
  <a href="http://twitter.com/{{ site.social.twitter_handle }}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
  <a href="#faq">FAQ</a>
  <a href="#sponsors">Sponsors</a>
  <a href="#organizers">Organizadores</a>
 </nav>

 <section class="hero">
  <div class="wrapper text-center">
    <img src="images/bitmap.png" style="width:250px" alt="HackCUU Logo">
    <h1 rel="title">{{ site.event.name }}</h1>
    <h2 rel="description">{{ site.event.description }}</h2>
    <h3 rel="location">{{ site.event.date }} &mdash; {{ site.event.location }}</h3>
    <hr>
    <div class="buttons">
      {% for link in site.event.hero.links %}
        {% if link.href %}
          <a href="{{ link.href }}">{{ link.text }}</a>
        {% elsif link.my_mlh %}
          <a class="apply" href="https://hackcuu.hackerearth.com/es/sprints/hackcuu/add-information/">{{ link.text }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
